.icon {
    height: 250px;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: black; */
}

.icon i {
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    padding: 30px 30px;
    border: none;
    font-size: xx-large;
    color: white;
    border-radius: 50%;
}

.icon h3{
    color: rgb(62, 62, 62);
}
.icon p{
    text-align: center;
    color: rgb(94, 94, 94);
}

